

body{ 
    background-image: url("images\down.jpg width=100%") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

nav {
    background-color: black;
    color: #d8b114;
    padding: 15px;
   
    
}
.free{
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 2px;
    
    
}

li{
    display: inline;
    color:  #d8b114;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    display: inline;
    margin-left: 50%;
}

li:hover{
    color:#d8b114;
    text-decoration: none;
}

input{
    width: 60%;
    padding: 15px;
    color: black;
    }
    .searchbar{
        padding: 50px;
        text-align: center;
       
       
    }

    .recipes{
        text-align: center;
    }

    .cheesy{
        text-align: center;
    }

    .box{
        border-color: #a55b50;
        border-width: 5px;
        border-style: solid;
        display: inline-block;
        width: 220px;
        text-align: center;
        

    }

    .box:hover{
        background-color: black;
        color: white;   
    }
    h1{
        text-align: center;
        color:  #d8b114;
        
    }
.about{
    text-align:left;
    margin-top: 20px;
    padding: 20px;
    color: black;
    line-height: 2rem;
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
   

}

h2{
    padding-bottom: 10px;
    color:  #d8b114;
}
.num{
    line-height: 0;
    text-align:center;
}

.space{
    padding-top: 30px;
    text-align: center;
}





